:root {
  --primary-color: #4267B2;
  --secondary-color: #7AD044;
  --sub-title-color: #555;
}
.hero-container {
  background: url("../style/bg.jpg");
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-attachment: fixed; /* Fixed background position */
  height: 85vh; /* Set the container height to the viewport height */
  display: flex;
  justify-content: flex-start; /* Align content to the start of the left side */
  align-items: center;
  padding-left: 10rem;
  text-align: left; /* Align text to the left */
  color: #fff; /* Text color for readability */
}

.hero-content {
  max-width: 600px; /* Limit the width of the content */
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  padding-bottom: 10px;
}

.hero-btn {
  background-color:var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

.hero-btn:hover {
  background-color: #0056b3; /* Change color on hover */
}

